@import "utils";

.galleryWrap {
  min-width: 300px;
  max-width: 700px;
  margin: 64px auto;

  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
 align-items: center;

  .gallery {
    width: 100%;
    height: 100%;
  }
  svg {
    max-height: 40px;
  }
  .uploadBTN {
    margin-top: 32px;
    width: 104px;
  }

  .pendingBTN{
    background: none;
    border: $accent 3px solid;
    margin-top: 32px;
    position: relative;
    .counter{
      width: 32px;
      height: 32px;
      background: $red;
      border-radius: 100%;
      border: $light-gray solid 2px;
      position: absolute;
      color: $white; 
      
      display: flex;
      align-items: center;
      justify-content: center;

      top: -16px;
      right: -16px;
    }
  }
}

$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;
$ig-white: #f0e6e6 !default;
$ig-black: rgb(49, 49, 49) !default;
$ig-blue: #a24cc0 !default;
$ig-background-black: rgba(0, 0, 0, 0.4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;
$ig-shadow: 0 2px 2px lighten($ig-black, 10%);

@mixin vendor-prefix($name, $value) {
  @each $vendor in ("-webkit-", "-moz-", "-ms-", "-o-", "") {
    #{$vendor}#{$name}: #{$value};
  }
}

// SVG ICON STYLES
.image-gallery-icon {
  @media (hover: hover) and (pointer: fine) {
    border-radius: 64px;
    margin: auto 8px;
    &:hover {
      background: inherit;
    }
  }
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  border-radius: 32px;
  margin: 8px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 10px 3px;
}

.image-gallery {
  border-radius: 32px;
}

.image-gallery-slide-wrapper {
  &.left,
  &.right {
    display: inline-block;
    width: calc(100% - 116px); // 100px + 10px for margin

    @media (max-width: $ig-small-screen) {
      width: calc(100% - 89px); // 81px + 6px for margin
    }
  }
}

.image-gallery-slide {
  .image-gallery-image {
    border-radius: 32px;
  }
}

.image-gallery-svg {
  width: 20px;
  height: 20px;
}

.image-gallery-thumbnails {
  padding: 16px 0;

  @media (max-width: $ig-small-screen) {
    padding: 4px 0;
  }
}

.image-gallery-thumbnail {
  border: 4px solid transparent;
  @media (max-width: $ig-small-screen) {
    border: 4px solid transparent;
    width: 81px;
  }

  + .image-gallery-thumbnail {
    margin-left: 8px;
  }

  .image-gallery-thumbnail-image {
    border-radius: 4px;
  }
}

.image-gallery-index {
  border-radius: 32px;
  margin: 8px;
}

// ================================
// elements with color adjustements
// ================================

// FIXME include all lines of code with colors in them