@import "utils";
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  line-height: 24px;
}

img {
  width: 100%;
  height: 100%;
}
button {
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  background-color: $accent;
  border-radius: 8px;
  cursor: pointer;

  -webkit-box-shadow: $box-shadow;
-moz-box-shadow: $box-shadow;
box-shadow: $box-shadow;  

  transition: 1s ease-in-out;
  &:hover {
    color: $white;
    background-color: $accent-dark;
  }
}
.section_title {
  text-align: center;
  padding: 64px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

@media (min-width: $bpTablet) {
  .section_title {
    text-align: left;
  }
}
