@import "utils";
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.anchor {
  color: $red;
  text-decoration: underline;
  &:hover {
    color: $red-dark;
  }
}

img {
  width: 100%;
  height: 100%;
}
input {
border: none;
padding: 8px;
text-decoration: none;
outline: none;
&:focus {
  border: none;
}

}
button {
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  background-color: $accent;
  border-radius: 8px;
  cursor: pointer;

  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  transition: 1s ease-in-out;
  &:hover {
    color: $white;
    background-color: $accent-dark;
  }
}
.section_title {
  text-align: center;
  padding: 64px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

div.error {
padding: 16px;
border-radius: 8px;
border: 2px solid $red;
background: #fbcccc
}

input.error {
  border: 2px solid $red;
}

.smallPrint {
  padding: 0;
  margin: -24px 0;
  color: $white;
  font-size: 12px;
}
@media (min-width: $bpTablet) {
  .section_title {
    text-align: left;
  }
}
