@import "utils";

.hero {
  min-height: 500px;
  width: 100%;
//   position of content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gradient
  background: $main;
  background: $main-gradient;
  // clip path
  -webkit-clip-path: $hero-clip-path;
  clip-path: $hero-clip-path;

  .hero_title {
    margin: 32px auto ;
    margin-top: -40px;
    h1 {
      color: $white;
      font-size: clamp(64px, 10vw, 128px);
    }
    
  }
 
}

.searchBar {
  border-radius: 8px;
  &:focus {
    outline: 2px solid $gray;
  }
}
