@import "utils";

.home_hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 32px;
  margin-bottom: 128px;

  .home_hero_text {
    width: 300px;
    .home_hero_text_top {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        width: 250px;
        font-size: 40px;
      }
      div {
        width: 100px;
      }
    }
    .home_hero_text_bottom {
      
    }
  }

  .home_hero_card {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    background-color: grey;

    background-image: url(../images/cubs.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    .back {
      width: 100%;
      height: 100%;
      background-color: $accent;
      border-radius: 16px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      -webkit-clip-path: $clip-path;
      clip-path: $clip-path;

      .front {
        width: 100%;
        height: 95%;
        background-color: $gray;
        color: $white;
        border-radius: 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        -webkit-clip-path: $clip-path;
        clip-path: $clip-path;
            h2 {

            }
            p {
              font-size: 16px;
              line-height: 24px;;
            }
            
      }
    }
  }
}


@media (min-width: $bpTablet) {
    .home_hero {
        gap: 64px;
        margin-bottom: 0;
        margin-top: -40px;
    }
}

@media (min-width: $bpDesktop) {
    .home_hero {
        gap: 128px;
    }
}