@import "utils";

.smallcard_wrap {
  width: 200px;
  height: 200px;
  border-radius: 16px;

  background: $main-gradient-t;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 0.5s ease-in;
  &:hover {
    width: 215px;
    height: 215px;
    transition: 0.5s ease-in;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;

    .img {
        width: 96px;
        height: 96px;
     
    }
    h3 {
        font-size: 24px;
    }
  }
}
