$bpMobile: 320px;
$bpTablet: 768px;
$bpLaptop: 1024px;
$bpDesktop: 1200px;

$main: #a24cc0;
$main-dark: #4c255b;
$accent: #9ED628;
$accent-dark: #597815;

$white: #f0e6e6;
$gray: rgb(49, 49, 49);

$clip-path: polygon(59% 50%, 87% 39%, 100% 50%, 100% 100%, 0 100%, 0 50%, 38% 44%); 
$hero-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
$box-shadow: 0px 0px 29px -6px rgba(0,0,0,1);
