@import url("https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.anchor {
  color: #d11a2a;
  text-decoration: underline;
}
.anchor:hover {
  color: #8d101b;
}

img {
  width: 100%;
  height: 100%;
}

input {
  border: none;
  padding: 8px;
  text-decoration: none;
  outline: none;
}
input:focus {
  border: none;
}

button {
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #9ed628;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 29px -6px #000000;
  transition: 1s ease-in-out;
}
button:hover {
  color: #f0e6e6;
  background-color: #597815;
}

.section_title {
  text-align: center;
  padding: 64px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

div.error {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #d11a2a;
  background: #fbcccc;
}

input.error {
  border: 2px solid #d11a2a;
}

.smallPrint {
  padding: 0;
  margin: -24px 0;
  color: #f0e6e6;
  font-size: 12px;
}

@media (min-width: 768px) {
  .section_title {
    text-align: left;
  }
}
a {
  color: #000;
}

.header {
  background-color: #a24cc0;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 100;
}
.header .logo {
  margin: 8px 0;
  height: 64px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: rgba(162, 76, 192, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.header ul li a {
  display: block;
  padding: 16px;
  height: 64px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header ul li a:hover {
  background-color: #4c255b;
  color: #f0e6e6;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  visibility: hidden;
}
.header .menu-icon {
  margin: 8px 0;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.5s ease-in-out;
  width: 16px;
}
.header .menu-icon .navicon::before, .header .menu-icon .navicon::after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon::before {
  top: 5px;
}
.header .menu-icon .navicon::after {
  top: -5px;
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 400px;
  visibility: visible;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Make sure it's on top of other elements */
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }
  .header .logo {
    transform: translate(0);
    left: 0%;
  }
  .header ul {
    width: 100%;
    background-color: #a24cc0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: 0;
    margin: 8px;
  }
  .header ul li {
    float: left;
  }
  .header ul li a {
    padding: 20px 30px;
    color: #f0e6e6;
  }
  .header ul li a:hover {
    border-radius: 8px;
  }
  .header .menu {
    visibility: visible;
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.hero {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a24cc0;
  background: linear-gradient(357deg, #5d2471 0%, #a24cc0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
}
.hero .hero_title {
  margin: 32px auto;
  margin-top: -40px;
}
.hero .hero_title h1 {
  color: #f0e6e6;
  font-size: clamp(64px, 10vw, 128px);
}

.searchBar {
  border-radius: 8px;
}
.searchBar:focus {
  outline: 2px solid #313131;
}

footer {
  background-color: #313131;
  color: #f0e6e6;
  width: 100%;
}
footer .copyright {
  text-align: center;
  padding: 16px;
}

.home_hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 32px;
  margin-bottom: 128px;
}
.home_hero .home_hero_text {
  width: 300px;
}
.home_hero .home_hero_text .home_hero_text_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home_hero .home_hero_text .home_hero_text_top h1 {
  width: 250px;
  font-size: 40px;
}
.home_hero .home_hero_text .home_hero_text_top div {
  width: 100px;
}
.home_hero .home_hero_card {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-color: grey;
  background-image: url(../images/cubs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 29px -6px #000000;
}
.home_hero .home_hero_card .back {
  width: 100%;
  height: 100%;
  background-color: #9ed628;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-clip-path: polygon(59% 50%, 87% 39%, 100% 50%, 100% 100%, 0 100%, 0 50%, 38% 44%);
  clip-path: polygon(59% 50%, 87% 39%, 100% 50%, 100% 100%, 0 100%, 0 50%, 38% 44%);
}
.home_hero .home_hero_card .back .front {
  width: 100%;
  height: 95%;
  background-color: #313131;
  color: #f0e6e6;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-clip-path: polygon(59% 50%, 87% 39%, 100% 50%, 100% 100%, 0 100%, 0 50%, 38% 44%);
  clip-path: polygon(59% 50%, 87% 39%, 100% 50%, 100% 100%, 0 100%, 0 50%, 38% 44%);
}
.home_hero .home_hero_card .back .front p {
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .home_hero {
    gap: 64px;
    margin-bottom: 0;
    margin-top: -40px;
  }
}
@media (min-width: 1200px) {
  .home_hero {
    gap: 128px;
  }
}
.smallcard_wrap {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(93, 36, 113, 0.5490196078) 0%, rgba(162, 76, 192, 0.6509803922) 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.smallcard_wrap:hover {
  width: 215px;
  height: 215px;
  transition: 0.5s ease-in;
}
.smallcard_wrap .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}
.smallcard_wrap .content .img {
  width: 96px;
  height: 96px;
}
.smallcard_wrap .content h3 {
  font-size: 24px;
}

.bigcard_wrap {
  width: 250px;
  height: 350px;
  border-radius: 16px;
  position: relative;
}
.bigcard_wrap img {
  position: absolute;
  border-radius: 16px;
  z-index: 0;
}
.bigcard_wrap .overlay {
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 16px;
  background: rgba(48, 48, 48, 0.8);
  color: #f0e6e6;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_home_events .card_wrap {
  width: 100%;
  padding: 64px 32px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.section_home_guides {
  background-image: url(../images/mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 29px -6px #000000;
}
.section_home_guides .card_wrap {
  width: 100%;
  padding: 0 32px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.section_home_location .section_home_location_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section_home_location .section_home_location_content .section_home_location_img {
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 29px -6px #000000;
  width: 80%;
  max-width: 800px;
  height: 350px;
  margin: auto 32px;
  border-radius: 16px;
}
.section_home_location .section_home_location_content .section_home_location_info {
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section_home_location .section_home_location_content .section_home_location_info .info {
  max-width: 256px;
  margin: auto;
}
.section_home_location .section_home_location_content .section_home_location_info .info button {
  margin-top: 16px;
}
.section_home_location .section_home_location_content .section_home_location_info .img {
  width: 200px;
  height: 200px;
  margin: auto;
}

@media (min-width: 768px) {
  .section_home_location .section_home_location_info {
    flex-direction: row-reverse;
  }
}
.notFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 64px;
  gap: 32px;
}
.notFound .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notFound .text h2 {
  font-size: 160px;
  line-height: 240px;
}
.notFound .text p {
  font-size: 40px;
  line-height: 60px;
}
.notFound .image {
  height: 300px;
}

.gamesWrap {
  width: 100%;
  padding: 64px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.badgesModal {
  max-width: 700px;
  height: 100%;
  max-height: 600px;
  margin: auto 32px;
  background: linear-gradient(356deg, #4d6715 0%, #9ed628 100%);
  padding: 32px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.badgesModal .close {
  width: 32px;
  height: 32px;
  text-align: center;
  position: absolute;
  left: 96%;
  top: -1%;
  background-color: #f0e6e6;
  border-radius: 50%;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  outline: 1.5px solid #313131;
}
.badgesModal .header {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px;
  background: #597815;
}
.badgesModal .header button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badgesModal .header button img {
  width: 24px;
  height: 24px;
}
.badgesModal .header .image {
  width: 120px;
  height: auto;
  justify-self: flex-start;
}
.badgesModal .header h2 {
  text-align: center;
}
.badgesModal .tasks {
  overflow: scroll;
}
.badgesModal .tasks ol {
  margin: auto 24px;
}
.badgesModal .tasks ol li {
  padding: 4px;
  display: list-item;
  list-style-type: decimal;
  list-style-position: outside;
}
.badgesModal .tasks ol ul li {
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.badgesModal .tasks ol ul li .bullets li {
  list-style-type: circle;
  list-style-position: outside;
}
.badgesModal .tasks ol ul li .bullets .letters li {
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.badgesModal .tasks ol ul li .letters li {
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.badgesModal .tasks ol ul li .letters .bullets li {
  list-style-type: circle;
  list-style-position: outside;
}

.badgesWrap {
  width: 100%;
  padding: 64px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.popup {
  margin: 32px;
}

.badgesSearch {
  margin-top: 32px;
  text-align: center;
}
.badgesSearch input {
  background: #d2cfcf;
  width: 300px;
}

.galleryWrap {
  min-width: 300px;
  max-width: 1200px;
  margin: 64px auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryWrap .gallery {
  width: 100%;
  height: 100%;
}
.galleryWrap svg {
  max-height: 40px;
}
.galleryWrap .imageUpload {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 16px;
}
.galleryWrap .imageUpload input {
  margin: auto;
}
.galleryWrap .imageUpload button {
  width: 100px;
  margin: auto;
}
.galleryWrap .imageGallery {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.galleryWrap .imageGallery div {
  width: 200px;
  aspect-ratio: 16/9;
  border-radius: 16px;
  overflow: hidden;
}
.galleryWrap .imageGallery div img {
  background-size: cover;
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon {
    border-radius: 64px;
    margin: auto 8px;
  }
  .image-gallery-icon:hover {
    background: inherit;
  }
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  border-radius: 32px;
  margin: 8px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 10px 3px;
}

.image-gallery {
  border-radius: 32px;
}

.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 116px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    width: calc(100% - 89px);
  }
}

.image-gallery-slide .image-gallery-image {
  border-radius: 32px;
}

.image-gallery-svg {
  width: 20px;
  height: 20px;
}

.image-gallery-thumbnails {
  padding: 16px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 4px 0;
  }
}

.image-gallery-thumbnail {
  border: 4px solid transparent;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 4px solid transparent;
    width: 81px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 8px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 4px;
}

.image-gallery-index {
  border-radius: 32px;
  margin: 8px;
}

.user {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  padding: 8px;
  border-radius: 16px;
  background: linear-gradient(310deg, #313131 0%, #5b5a5a 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8px;
  align-items: center;
  gap: 16px;
  color: #f0e6e6;
  text-align: center;
}
.user .name,
.user .email,
.user .disclosure,
.user .availability,
.user .btns {
  margin: auto;
  position: relative;
  width: 200px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user label {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.user .btns {
  display: flex;
  gap: 8px;
}
.user .btns button {
  width: 40px;
  height: 40px;
  padding: 0;
}
.user .btns button img {
  width: 24px;
  height: 24px;
}
.user .btns .delete {
  background: #d11a2a;
}
.user .btns .delete:hover {
  background: #8d101b;
}

.addInfo {
  margin: auto;
  text-align: center;
}
.addInfo p {
  margin: 16px auto;
  font-size: 12px;
}

.usersWrap {
  width: 100%;
  height: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.adminModal {
  max-width: 700px;
  height: 100%;
  max-height: 600px;
  margin: auto 32px;
  background: #313131;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.adminModal .close {
  width: 32px;
  height: 32px;
  text-align: center;
  position: absolute;
  left: 96%;
  top: -1%;
  background-color: #f0e6e6;
  border-radius: 50%;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  outline: 1.5px solid #313131;
}
.adminModal .header {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 16px;
  background: #d2cfcf;
}
.adminModal .header h2 {
  text-align: center;
}
.adminModal .content form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.adminModal .content form div {
  display: flex;
  flex-direction: column;
}
.adminModal .content form div label {
  color: #f0e6e6;
}
.adminModal .content form div input {
  border-radius: 8px;
  width: 200px;
}
.adminModal .content form div select {
  padding: 4px;
  height: 33.33333px;
}
.adminModal .content form div button {
  margin-top: 20.66px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: linear-gradient(0deg, rgba(93, 36, 113, 0.5490196078) 0%, rgba(162, 76, 192, 0.6509803922) 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 32px;
  max-width: 400px;
  margin: 64px auto;
  border-radius: 16px;
}
.form input {
  border-radius: 8px;
}
.form input:focus {
  outline: 2px solid #313131;
}
.form button {
  margin: 16px;
}
.form p {
  text-align: center;
}/*# sourceMappingURL=app.css.map */